<head>
    <link rel="stylesheet" href="/admin/admin.css">
    <link rel="stylesheet" href="/admin/add-product/add-product.css">
    <link rel="stylesheet" href="/admin/checkbox.css">
</head>
<div class="container mt-3">

    <div class="row">

        <!--Table-->
        <div class="col-12">

            <h3 class="text-center mb-0">All products</h3>
            <div class="row justify-content-start mb-1">

                <div class="col-auto">
                    <button type="button" class="btn btn-success btn-sm p-2" data-toggle="modal" data-target="#exampleModal">
                        Add product
                    </button>
                    <button type="button" class="btn btn-success btn-sm p-2" ng-click="addNewCategory()" data-toggle="modal" data-target="#newCateory">
                        Add/Edit Category</button>
                    <button type="button" class="btn btn-danger btn-sm p-2" ng-show="disableButtonDeleteItems" ng-click="deleteProducts()">
                        {{countArrayIdForDelete}}  Delete all
                    </button>
                </div>
            </div>


            <div id="grid2" ui-grid="gridOptions"
                 ui-grid-pagination
                 ui-grid-resize-columns
                 ui-grid-move-columns
                 ui-grid-selection
                 class="grid"
                 style="height: 623px;">
            </div>

        </div>
        <!--/Table-->

        <!--Modal view product-->
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog modal-lg" ng-class="adminProduct.isActive == false ? 'modal-danger': ''" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header" ng-class="adminProduct.isActive == false ? 'modal-danger': ''">
                        <h5 class="modal-title" ng-if="adminProduct.isActive == true">Detailed information about product (product is active)</h5>
                        <h5 class="modal-title" ng-if="adminProduct.isActive == false">Detailed information about product (product is not active)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <div class="row">

                            <div class="col-sm-12 col-md-12 col-lg-7">

                                <!--Carousel Wrapper-->
                                <div id="carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example" data-slide-to="{{key}}" ng-repeat="(key, value) in adminProduct.listImages track by $index"></li>
                                    </ol>
                                    <!--/.Indicators-->
                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item active">
                                            <div style="text-align: center;">
                                                <img class="w-50" ng-src="data:image/jpeg;base64,{{ adminProduct.listImages[0]}}">
                                            </div>
                                        </div>
                                        <!--/First slide-->
                                        <!--Second slide-->
                                        <div class="carousel-item" ng-repeat="im in adminProduct.listImages track by $index" ng-if="$index > 0">
                                            <div style="text-align: center;">
                                                <img class="w-50" ng-src="data:image/jpeg;base64,{{im}}" alt="Second slide">
                                            </div>
                                        </div>
                                        <!--/Second slide-->

                                    </div>
                                    <!--/.Slides-->
                                    <!--Controls-->
                                    <a class="carousel-control-prev" data-target="#carousel-example" role="button" data-slide="prev">
                                        <span><i class="fas fa-angle-left fa-3x blue-text"></i></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" data-target="#carousel-example" role="button" data-slide="next">
                                        <span><i class="fas fa-angle-right fa-3x blue-text"></i></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->

                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-5">

                                <div class="d-flex flex-column">

                                    <div class="d-flex">
                                        <div class="p-2">
                                            <strong>Code:</strong> {{adminProduct.code}}
                                        </div>

                                        <div class="p-2" ng-if="adminProduct.isActive" tooltips tooltip-template="The product is active." tooltip-side="bottom">
                                            <strong>Active:</strong> <i class="fas fa-check green-text"></i>
                                        </div>

                                        <div class="p-2" ng-if="!adminProduct.isActive" tooltips tooltip-template="The product is not active." tooltip-side="bottom">
                                            <strong>Active:</strong> <i class="fas fa-times red-text"></i>
                                        </div>
                                    </div>

                                    <div class="p-2">
                                        <strong class="pr-2">Name:</strong> {{adminProduct.name}}
                                    </div>

                                    <div class="p-2">
                                        <strong>Category:</strong> {{adminProduct.category.name}}
                                    </div>

                                    <div class="p-2">
                                        <strong>Producer:</strong> {{adminProduct.producer}}
                                    </div>

                                    <div class="p-2">
                                        <strong>Price</strong>: ${{adminProduct.price}}
                                    </div>

                                    <div class="p-2">
                                        <strong>Quantity of products:</strong> {{adminProduct.quantity}}
                                    </div>

                                    <div class="p-2" ng-if="adminProduct.quantity != 0">
                                        <strong>Status:</strong> In Stock
                                    </div>

                                    <div class="p-2" ng-if="adminProduct.quantity === 0">
                                        <strong>Status:</strong> Sold out
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12">

                                <h6 class="text-center mb-4 mb-3">Description</h6>
                                <div class="table-responsive-lg">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr ng-repeat="b in adminProduct.description">
                                            <td><h6>{{b.nameDesc}}:</h6></td>
                                            <td>{{b.dataDesc}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>

        <!-- Modal add product -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProduct">Add Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--Form Add Product-->
                        <section class="px-4">

                            <switcher ng-model="switcher" true-label="clear all fields after add product"></switcher>

                            <form name="formAddProduct" ng-submit="saveData()">

                                <div class="input-group mb-3 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Name Product</div>
                                    </div>
                                    <input type="text"
                                           class="form-control py-0 pl-2 w-50"
                                           title="Name Product"
                                           ng-model="product.name"
                                           ng-required="true">

                                    <select class="custom-select ml-1 mr-1"
                                            ng-model="product.idCategory"
                                            ng-required="true"
                                            title="Categories">

                                        <option value="" disabled selected>Category</option>
                                        <option ng-repeat="category in categories" value="{{category.idCategory}}">
                                            {{category.name}}
                                        </option>

                                    </select>
                                </div>

                                <div class="input-group mb-3 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Quantity</div>
                                    </div>

                                    <input type="number"
                                           class="form-control py-0 pl-2"
                                           title="Name Product"
                                           ng-model="product.quantity"
                                           ng-required="true">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Producer</div>
                                    </div>
                                    <input type="text"
                                           class="form-control py-0 pl-2"
                                           title="Producer"
                                           ng-model="product.producer"
                                           ng-required="true">
                                </div>

                                <div class="input-group mb-3 mr-sm-2">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Price</div>
                                    </div>

                                    <input type="text"
                                           title="Price"
                                           min="0"
                                           class="form-control py-0 pl-2"
                                           ng-model="product.price"
                                           ng-required="true" money>

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>

                                </div>

                                <div class="input-group mb-3 mr-sm-2">
                                    <div class="input-group-prepend" ng-click="magicNumberForCode()">
                                        <div class="input-group-text"><i class="fa fa-magic hm-red-strong"></i></div>
                                    </div>

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Code</div>
                                    </div>
                                    <input type="text"
                                           title="Code"
                                           maxlength="5"
                                           class="form-control py-0 pl-2"
                                           ng-model="product.code"
                                           ng-required="true">
                                </div>

                                <p class="mb-0 mt-3 text-center border border-bottom-0 rounded-top rgba-blue-slight">Description</p>

                                <div ng-class="scrollDesc" class="border">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a class="btn btn-primary btn-sm" data-nodrag ng-click="newItem()"><i class="fas fa-plus"></i> Add Description</a>
                                            <table ui-tree id="tree-root" class="table table-responsive">
                                                <tbody ui-tree-nodes ng-model="data">
                                                <tr ng-repeat="node in data" ui-tree-node>
                                                    <td>
                                                        <i class="glyphicon glyphicon-resize-vertical" ui-tree-handle></i>
                                                    </td>
                                                    <td>
                                                        <strong>{{node.descName}}</strong>
                                                        <strong>{{node.descData}}</strong>
                                                    </td>
                                                    <td>
                                                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="info">
                                                {{info}}
                                            </div>
                                            <pre class="code">{{ data | json }}</pre>
                                        </div>

                                </div>

                                <input type="text" class="form-control validate" ng-model="categoryDescription" title="Category of desc">
                                <button class="btn btn-primary btn-sm mb-3" ng-click="addCategoryDesc($event)">Add category fields</button>

                                <label class="control control-checkbox mt-2">
                                    Not use image uploader
                                    <input class="form-check-input" type="checkbox" ng-change="disabledUploader(disabled)" ng-model="disabled"/>
                                    <div class="control_indicator"></div>
                                </label>

                                <div class="border border-primary rounded mb-3" ng-class="{'disabled':useUploaderImages, 'disable':useUploaderImages}" style="margin-bottom: 40px">

                                    <p>Queue length: {{ uploader.queue.length }}</p>

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th>Size</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td>{{added}}</td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-danger btn-sm" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <input class="hide" id="image" type="file" ng-disabled="useUploaderImages" nv-file-select="" uploader="uploader" multiple
                                           accept="image/png, image/jpeg, image/jpg, image/bmp, image/gif" />
                                    <br/>
                                    <label for="image" ng-class="{'disabled':useUploaderImages, 'disable':useUploaderImages}" class="btn btn-primary btn-sm mt-0 mb-0">
                                        Choose image
                                        <i class="fas fa-cloud-upload-alt"></i>
                                    </label>

                                    <button type="button" ng-class="{'disable':useUploaderImages}" class="btn btn-success btn-sm" ng-click="uploader.uploadAll()"
                                            ng-disabled="!uploader.getNotUploadedItems().length">
                                        Upload all
                                    </button>

                                    <button type="button" ng-class="{'disable':useUploaderImages}" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()"
                                            ng-disabled="!uploader.queue.length">
                                        Remove all
                                    </button>

                                </div>

                                <div id="wrapper">
                                    <div ng-class="classDisabled" ng-mouseover="focusOnAddProduct()"></div>
                                    <button type="submit" class="btn btn-success ml-0" ng-disabled="enableAddproduct">
                                        Add Product
                                    </button>
                                </div>

                            </form>
                        </section>
                        <!--/Form Add Product-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal add new category -->
        <div class="modal fade" id="newCateory" tabindex="-1" role="dialog" aria-labelledby="addNewCategory" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewCategory">Add New Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="input-group mb-3 mr-sm-2" id="categoriesScroll">

                            <div class="input-group-prepend">
                                <div class="input-group-text">New Category</div>
                            </div>

                            <input type="text"
                                   class="form-control py-0 pl-2"
                                   title="Name Product"
                                   ng-model="newCategory">

                            <button type="button" class="btn btn-success btn-sm p-2" ng-click="addNewCategories()">Add Category</button>
                        </div>

                        <hr class="mb-1">

                        <h5>Edit Category</h5>

                        <hr class="mb-2 mt-1">

                        <div class="popover-wrapper" ng-repeat="category in categories">
                            <a href="#"
                               editable-text="cat.name"
                               e-label="Category" onaftersave="editCategory(cat)"> {{ category.name || 'empty' }}</a>
                            <span ng-click="deleteOneCategory(category)" class="counter remImageEdit border"><i class="fas fa-times"></i></span>
                            <br>
                            <br>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>