<head>
    <link rel="stylesheet" href="/admin/admin.css">
    <link rel="stylesheet" href="/admin/add-product/add-product.css">
    <link rel="stylesheet" href="/admin/checkbox.css">
</head>
<div class="container-fluid mt-3">

    <div class="row">

        <!--Form Add Product-->
        <div class="col-md-12 col-lg-12 col-xl-5">

            <h3 class="text-center">Add Product</h3>

            <section class="px-4">
                <div class="d-flex justify-content-between mb-2">

                    <switcher ng-model="basic" true-label="clear all fields after add product"></switcher>

                    <button class="btn btn-primary btn-sm" ng-click="addNewCategory()"
                            tooltips tooltip-template="Add new category"
                            tooltip-side="bottom">
                        <i class="fa fa-plus"></i>
                    </button>

                </div>

                <form name="formAddProduct" ng-submit="saveData()">

                    <div class="input-group mb-3 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Name Product</div>
                        </div>
                        <input type="text"
                               class="form-control py-0 pl-2 w-50"
                               title="Name Product"
                               aria-label="idNameProduct"
                               ng-model="product.name"
                               ng-required="true">

                        <select class="custom-select ml-1 mr-1"
                                ng-model="product.idCategory"
                                ng-required="true"
                                title="Categories">

                            <option value="" disabled selected>Category</option>
                            <option ng-repeat="category in categories" value="{{category.idCategory}}">
                                {{category.name}}
                            </option>

                        </select>
                    </div>

                    <div class="input-group mb-3 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Quantity</div>
                        </div>

                        <input type="number"
                               class="form-control py-0 pl-2"
                               title="Name Product"
                               aria-label="quantity"
                               ng-model="product.quantity"
                               ng-required="true">

                        <div class="input-group-prepend">
                            <div class="input-group-text">Producer</div>
                        </div>
                        <input type="text"
                               class="form-control py-0 pl-2"
                               title="Producer"
                               aria-describedby="idProducer"
                               ng-model="product.producer"
                               ng-required="true">
                    </div>

                    <div class="input-group mb-3 mr-sm-2">

                        <div class="input-group-prepend">
                            <div class="input-group-text">Price</div>
                        </div>

                        <input type="text"
                               title="Price"
                               min="0"
                               class="form-control py-0 pl-2"
                               aria-label="idPrice"
                               ng-model="product.price"
                               ng-required="true" money>

                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>

                    </div>

                    <div class="input-group mb-3 mr-sm-2">
                        <div class="input-group-prepend" ng-click="magicNumberForCode()">
                            <div class="input-group-text"><i class="fa fa-magic hm-red-strong"></i></div>
                        </div>

                        <div class="input-group-prepend">
                            <div class="input-group-text">Code</div>
                        </div>
                        <input type="text"
                               title="Code"
                               maxlength="5"
                               class="form-control py-0 pl-2"
                               aria-label="idCode"
                               ng-model="product.code"
                               ng-required="true">
                    </div>

                    <p class="mb-0 mt-3 text-center border border-bottom-0 rounded-top rgba-blue-slight">Description</p>
                    <div ng-class="scrollDesc" class="border">

                        <fieldset data-ng-repeat="desc in descriptionData" class="mb-2 mt-2">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Name of desc</div>
                                </div>
                                <input class="form-control py-0 pl-2 rounded-0" type="text" ng-model="desc.nameDesc" ng-required="true" title="NameDesc">
                                <button class="btn btn-danger btn-sm mt-2 mb-2 px-2 py-1" ng-click="reduce($index)"><i class="fas fa-times"></i></button>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="width: 125px">Data of desc</div>
                                </div>
                                <textarea class="form-control py-0 pl-2 rounded-0" ng-model="desc.dataDesc" ng-required="true" title="data desc"></textarea>
                            </div>

                        </fieldset>

                    </div>

                    <button class="btn btn-primary btn-sm mb-3" ng-click="addNewDesc($event)">Add describe fields</button>

                    <label class="control control-checkbox mt-2">
                        Not use image uploader
                        <input class="form-check-input" type="checkbox" ng-change="disabledUploader(disabled)" ng-model="disabled"/>
                        <div class="control_indicator"></div>
                    </label>

                    <div class="border border-primary rounded mb-3" ng-class="{'disabled':useUploaderImages, 'disable':useUploaderImages}" style="margin-bottom: 40px">

                        <p>Queue length: {{ uploader.queue.length }}</p>

                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th>Size</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td>{{added}}</td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <input class="hide" id="image" type="file" ng-disabled="useUploaderImages" nv-file-select="" uploader="uploader" multiple
                               accept="image/png, image/jpeg, image/jpg, image/bmp, image/gif" />
                        <br/>
                        <label for="image" ng-class="{'disabled':useUploaderImages, 'disable':useUploaderImages}" class="btn btn-primary btn-sm mt-0 mb-0">
                            Choose image
                            <i class="fas fa-cloud-upload-alt"></i>
                        </label>

                        <button type="button" ng-class="{'disable':useUploaderImages}" class="btn btn-success btn-sm" ng-click="uploader.uploadAll()"
                                ng-disabled="!uploader.getNotUploadedItems().length">
                            Upload all
                        </button>

                        <button type="button" ng-class="{'disable':useUploaderImages}" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()"
                                ng-disabled="!uploader.queue.length">
                            Remove all
                        </button>

                    </div>

                    <div id="wrapper">
                        <div ng-class="classDisabled" ng-mouseover="focusOnAddProduct()"></div>
                        <button type="submit" class="btn btn-success ml-0" ng-disabled="enableAddproduct">
                            Add Product
                        </button>
                    </div>

                </form>
            </section>


        </div>
        <!--/Form Add Product-->

        <!--Table-->
        <div class="col-md-12 col-lg-12 col-xl-7 pl-0">

                <h3 class="text-center pb-1">All products</h3>

                <div id="grid2" ui-grid="gridOptions"
                     ui-grid-pagination
                     ui-grid-resize-columns
                     ui-grid-move-columns
                     ui-grid-selection
                     class="grid"
                     style="height: 623px;">
                </div>

                <button ng-show="disableButtonDeleteItems" ng-click="deleteProducts()" type="button" class="btn btn-danger btn-sm mt-2">{{countArrayIdForDelete}}  Delete all</button>


                <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-notify" ng-class="adminProduct.isActive == false ? 'modal-danger': ''" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header" ng-class="adminProduct.isActive == false ? 'modal-danger': ''">
                                <h5 class="modal-title" ng-if="adminProduct.isActive == true">Detailed information about product (product is active)</h5>
                                <h5 class="modal-title" ng-if="adminProduct.isActive == false">Detailed information about product (product is not active)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <!--Body-->
                            <div class="modal-body">

                                <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                                    <!--Slides-->
                                    <div class="carousel-inner w-5" role="listbox">
                                        <div class="carousel-item active">
                                            <div style="text-align: center;">
                                                <img class="w-50" ng-src="data:image/jpeg;base64,{{ adminProduct.listImages[0]}}" alt="First slide">
                                            </div>
                                        </div>
                                        <div class="carousel-item" ng-repeat="im in adminProduct.listImages track by $index" ng-if="$index > 0">
                                            <div style="text-align: center;">
                                                <img style="text-align:center" class="w-50" ng-src="data:image/jpeg;base64,{{im}}" alt="Second slide">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Slides-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-thumb" data-slide-to="{{key}}" class="" ng-repeat="(key, value) in adminProduct.listImages track by $index">
                                            <img class="w-50" ng-src="data:image/jpeg;base64,{{value}}">
                                        </li>
                                    </ol>
                                </div>


                                <div class="row">
                                    <div class="col m-3 ml-3">
                                        <strong>Code:</strong> {{adminProduct.code}}
                                        <br>
                                        <div ng-if="adminProduct.isActive"><strong>Active:</strong> Active</div>
                                        <div ng-if="!adminProduct.isActive"><strong>Active:</strong> Not Active</div>
                                    </div>

                                    <div class="col m-3">
                                        <div ng-if="adminProduct.quantity != 0"><strong>Status:</strong> In Stock</div>
                                        <div ng-if="adminProduct.quantity === 0"><strong>Status:</strong> Sold out</div>
                                        <div><strong>Quantity of products:</strong> {{adminProduct.quantity}}</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col m-3">
                                        <strong>Name:</strong> {{adminProduct.name}}
                                    </div>
                                    <div class="col m-3">
                                        <strong>Category:</strong> {{adminProduct.category.name}}
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col m-3">
                                        <strong>Producer:</strong> {{adminProduct.producer}}
                                    </div>
                                    <div class="col m-3">
                                        <strong>Price</strong>: ${{adminProduct.price}}
                                    </div>
                                </div>
                                <hr>
                                <h6 class="text-center mb-4 mb-3">Description</h6>
                                <div class="table-responsive-lg">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr ng-repeat="b in adminProduct.description">
                                            <td><h6>{{b.nameDesc}}:</h6></td>
                                            <td>{{b.dataDesc}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--/info-->

        </div>
        <!--/Table-->
    </div>
</div>