.editable:hover {
    background-color: #eee;
}

.editable-custom {
    font-size: 1.5rem;
}

.editable-custom:hover {
    background-color: #28e7fb;
    color: white;
}

.editable {
    outline: none;
    border: 0;
    transition: all ease-in 150ms;
}

.editable.active {
    padding: 15px;
    border-left: 2px solid #355869;
}

.editable::selection {
    background: rgba(75, 158, 172, 0.3);
}

b::selection, kbd::selection, strong::selection {
    background: rgba(75, 158, 172, 0.3);
}

/* bar height */
.styled .switcher-line:before { height: 20px; }
/* bar backgrounds */
.styled         .switcher-line:before { background: #e35144; }
.styled .active .switcher-line:before { background: #4ecb32; }
/* icons opacity */
.styled         .switcher-label.false,
.styled .active .switcher-label.true { opacity: 1; }
.styled         .switcher-label.true,
.styled .active .switcher-label.false { opacity: .4; }


.input-desc-edit {
    border: 1px solid #ced4da!important;
    margin: 0;
}


.remImageEdit {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    right: 3%;
    top: 5%;
    border-radius: 10rem;
    background-color: white;
    color: #8a8a8a;
}

.remImageEdit:hover {
    background-color: #ff4444;
    color: white;
    cursor: pointer;
}

.imagewrap {
    display:inline-block;
    position:relative;
}

.border-cust {
    border: 3px solid #e9ecef!important;
    border-right: 0!important;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.editable-input.editable-has-buttons {
    margin: .25rem !important;
    border: 1px solid #e9ecef!important;
    height: 31px;
}

.popover-wrapper form {
    top: -61px;
}

.editable-empty, a.editable-empty {
    font-style: italic;
    color: #212529;
    text-decoration: none;
}