<head>
    <link rel="stylesheet" href="/admin/admin.css">
    <link rel="stylesheet" href="/admin/all-product/all-products.css">
</head>

<div class="container-fluid mt-3">

    <div class="row justify-content-md-center">
        <!-- Section: product details -->
        <div class="col-md-12 col-lg-4">

            <div class="d-flex flex-row">
                <button class="btn btn-danger btn-sm" ng-click="deleteProduct(productForEdit.idProduct)">
                    <i class="fa fa-trash"></i> Remove
                </button>
                <a class="btn btn-success btn-sm" ng-href="#!/admin/edit/product/{{productForEdit.idProduct}}">
                    <i class="fa fa-edit"></i> Edit
                </a>
            </div>

            <div class="scrollbar scrollbar-primary force-overflow mb-3">
                <div class="card border">

                    <div class="d-flex flex-row m-3">

                        <div class="mr-3" ng-if="productForEdit.isActive" tooltips tooltip-template="The product is active." tooltip-side="bottom">
                            <strong>Active:</strong> <i class="fas fa-check green-text"></i>
                        </div>

                        <div class="mr-3" ng-if="!productForEdit.isActive" tooltips tooltip-template="The product is not active." tooltip-side="bottom">
                            <strong>Active:</strong> <i class="fas fa-times red-text"></i>
                        </div>

                        <div class="mr-3" ng-if="productForEdit.quantity != 0">
                            <strong>Status:</strong> In Stock <span tooltips tooltip-template="Quantity of products." tooltip-side="bottom">({{productForEdit.quantity}})</span>
                        </div>
                        <div class="mr-3" ng-if="productForEdit.quantity === 0">
                            <strong>Status:</strong> Sold out <span tooltips tooltip-template="Quantity of products." tooltip-side="bottom">({{productForEdit.quantity}})</span>
                        </div>

                    </div>

                    <swiper class="w-75">
                        <slides>
                            <slide ng-repeat="image in productForEdit.listImages">
                                <img ng-src="data:image/jpeg;base64,{{image}}" class="img-fluid">
                            </slide>
                        </slides>
                        <prev></prev>
                        <next></next>
                        <pagination></pagination>
                    </swiper>

                    <div class="card-body">

                        <p class="h5 mr-3"><span tooltips tooltip-template="Code" tooltip-side="bottom">({{productForEdit.code}})</span>
                            {{productForEdit.name}}
                        </p>

                        <ng-rate-it class="mr-3 d-inline" ng-model="rating" min="0" max="5" step="1" read-only="true" resetable="false"></ng-rate-it>

                        <div class="mt-2 mb-2">
                            <strong>Category:</strong> {{productForEdit.category.name}}
                        </div>

                        <div class="mt-2 mb-2">
                            <strong>Producer:</strong> {{productForEdit.producer}}
                        </div>

                        <div class="mt-2 mb-2">
                            <strong>Price</strong>: ${{productForEdit.price}}
                        </div>

                        <div class="mt-2 mb-2">
                            <strong>Discount:</strong>
                            {{productForEdit.discount}}%
                            (<s>${{productForEdit.price}}</s> - <span class="green-text">${{productForEdit.price - productForEdit.price * (productForEdit.discount / 100) | number: 2}}</span>)
                        </div>

                    </div>

                    <div class="card-footer">
                        <h4 class="font-bold text-center">Description</h4>
                        <div class="row">
                            <div class="col-12 mx-1 mb-2" ng-repeat="desc in productForEdit.description">

                                <div class="h4">{{desc.nameCategoryDescription}}</div>

                                <div class="ml-2 mb-2 col-12" ng-repeat="v in desc.descriptionList">
                                    &middot {{v.nameDesc}} {{v.dataDesc}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-7">
            <h3 class="text-center mt-1 mb-3">All products</h3>

            <div id="grid2" ui-grid="gridOptions"
                 ui-grid-pagination
                 ui-grid-resize-columns
                 ui-grid-move-columns
                 ui-grid-selection
                 class="grid"
                 style="height: 600px;">
            </div>

            <button ng-show="disableButtonDeleteItems" ng-click="deleteProducts()" type="button" class="btn btn-danger">{{countArrayIdForDelete}}  Delete all</button>
        </div>
    </div>
</div>