
<div class="container mt-5 pt-5">
    <form name="formSignUp" ng-submit="submitReg()" method="post">

        <h3 class="text-center mb-5">Registration Form</h3>
        <div id="errorMessage">
            {{errorMessage}}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input id="firstName"
                           type="text"
                           ng-model="firstName"
                           oninput="validateName(this)"
                           class="form-control validate" placeholder="Insert your Firs Name" required>
                    <div id="errFirst"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input id="lastName"
                           type="text"
                           ng-model="lastName"
                           onkeyup="validateName(this)"
                           class="form-control validate" placeholder="Insert your Last Name" required>
                    <div id="errLast"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="md-form">
                    <i class="fa fa-envelope-o prefix"></i>
                    <input id="email"
                           type="email"
                           ng-model="email"
                           oninput="validateEmail(this.value);"
                           class="form-control validate" placeholder="somebody@example.com" required/>
                    <div class="status" id="status"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input id="pass1"
                           type="password"
                           ng-model="password"
                           minlength="4" maxlength="16"
                           class="form-control" placeholder="Insert your Password" required/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input id="pass2"
                           type="password"
                           minlength="4" maxlength="16"
                           onkeyup="checkPass(); return false;"
                           class="form-control validate" placeholder="Confirm your Password" required>
                    <span id="confirmMessage" class="confirmMessage"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="md-form">
                    <i class="fa fa-birthday-cake prefix"></i>
                    <input id="birthDate"
                           ng-model="birthDate"
                           type="date"
                           class="form-control" placeholder="Birthday" required/>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <i class="fa fa-address-book prefix"></i>
                    <input id="address"
                           type="text"
                           ng-model="address"
                           oninput="validateAddress(this)"
                           class="form-control" placeholder="Insert your Address" maxlength="300" required/>
                </div>
            </div>

            <div class="col-md-4">
                <div class="md-form">
                    <i class="fa fa-phone-square prefix"></i>
                    <input id="phone"
                           type="tel"
                           ng-model="phone"
                           oninput="validatePhone(this);"
                           class="form-control" placeholder="Insert your Phone Number" maxlength="28" required/>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="formSignUp.$invalid">Sign up</button>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </form>
</div>