
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card-footer {
    background-color: rgba(0,0,0,0);
}

.chip {
    display: inline-block;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,.6);
    line-height: 32px;
    padding: 0 10px;
    border-radius: 16px;
    background-color: #7283a7;
    margin-right: 0.5rem;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

/*money slider*/
