
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card-footer {
    background-color: rgba(0,0,0,0);
}

.chip {
    display: inline-block;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,.6);
    line-height: 32px;
    padding: 0 10px;
    border-radius: 16px;
    background-color: #7283a7;
    margin-right: 0.5rem;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

/*money slider*/
.rzslider .rz-pointer {
    top: -8px!important;
    z-index: 3;
    width: 20px!important;
    height: 20px!important;
    cursor: pointer;
    background-color: #0db9f0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.rzslider .rz-pointer:after {
    position: absolute;
    top: 7px;
    left: 8px;
    width: 5px;
    height: 5px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}