<head>
    <link rel="stylesheet" href="/admin/products/main-products.css">
    <link rel="stylesheet" href="/admin/admin.css">
</head>


<div class="container mt-1 pt-2">

    <!--Navbar-->
    <div class="row justify-content-center">

    </div>

    <div class="row">

    </div>

    <div class="row">

        <!-- Sidebar -->
        <div class="col-lg-3 pr-0">

            <!-- Grid row -->
            <div class="row">
                <div class="col-md-6 col-lg-12 mb-3">
                    <p class="mb-2">
                        <a class="font-weight-bold dark-grey-text h5" ng-click="isOpen1=!isOpen1" data-toggle="collapse" data-target="#collapseOrderBy">
                            <strong>Categories: <i class="" ng-class="(isOpen1) ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i></strong>
                        </a>
                    </p>

                    <div class="collapse" id="collapseOrderBy" >
                        <p class="mt-2 mb-2" ng-repeat="(key, value) in categoriesCountedProducts">
                            <a ng-href="#!/products/{{key}}" class="mdb-color-text darken-4"><b>{{key}}</b> <span class="badge mdb-color lighten-4">{{value}}</span></a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-12 mb-3">
                    <h5 class="font-weight-bold dark-grey-text"><strong>Price:</strong></h5>

                    <div class="row">
                        <div class="col-9 pr-0">
                            <rzslider rz-slider-model="slider.minValue"
                                      rz-slider-high="slider.maxValue"
                                      rz-slider-options="slider.options"></rzslider>
                        </div>
                        <div class="col-3 pl-2">
                            <span class="btn btn-success btn-sm py-2 px-2">ok</span>
                        </div>
                    </div>


                </div>

                <div class="scrollbar scrollbar-primary force-overflow mb-3" style="width: 290px;">
                    <div class="col-md-6 col-lg-11 mb-3" ng-init="nameCategory = key">

                        <p class="mb-2">
                            <a class="font-weight-bold dark-grey-text" ng-click="isOpen=!isOpen" data-toggle="collapse" data-target="#collapseProducer{{key}}">
                                <strong>Producers <i class="" ng-class="(isOpen) ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i></strong>
                            </a>
                        </p>

                        <div class="collapse show" id="collapseProducer{{key}}">
                            <div class="custom-control custom-checkbox mb-2" ng-repeat="(key, value) in producers">
                                <input ng-click="productsByFilters()"
                                       type="checkbox"
                                       checklist-model="producersProducts"
                                       checklist-value="key"
                                       id="customRadio{{key}}" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio{{key}}">{{key}} ({{value}})</label>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-6 col-lg-11 mb-3" ng-init="nameCategory = key" ng-repeat="(key, value) in filterProducts">

                        <p class="mb-2">
                            <a class="font-weight-bold dark-grey-text" ng-click="isOpen=!isOpen" data-toggle="collapse" data-target="#collapseFilter{{key}}">
                                <strong>{{key}} <i class="" ng-class="(isOpen) ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i></strong>
                            </a>
                        </p>

                        <div class="collapse show" id="collapseFilter{{key}}">
                            <div class="custom-control custom-checkbox mb-2" ng-repeat="(key, value) in value">
                                <div ng-repeat="(key, value) in value">
                                    <input ng-click="productsByFilters()"
                                        type="checkbox"
                                        checklist-model="filtersProducts"
                                        checklist-value="key"
                                        id="customRadioFilter{{key}}" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioFilter{{key}}">{{key}} ({{value}})</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- /.Sidebar -->

        <!-- Content -->
        <div class="col-lg-9">

            <!-- Products Grid -->
            <section class="section">

                <div class="row">
                    <div class="ml-3">
                        <div class="chip blue lighten-4">
                            {{categoryProducts}}
                        </div>
                        <div class="chip blue lighten-4 mb-2" ng-repeat="filterItem in producersProducts">
                            {{filterItem}}
                            <i class="close fa fa-times" ng-click="deleteFiltersProducersProducts(filterItem)"></i>
                        </div>
                        <div class="chip blue lighten-4 mb-2" ng-repeat="filterItem in filtersProducts">
                            {{filterItem}}
                            <i class="close fa fa-times" ng-click="deleteFiltersProducts(filterItem)"></i>
                        </div>

                    </div>
                </div>

                <!-- Grid row -->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mt-2 mb-4" ng-repeat="mainProduct in mainProducts">

                        <div image-dimensions>

                            <div class="card card-ecommerce">

                                <!--Card image-->
                                <swiper>
                                    <slides>
                                        <slide ng-repeat="image in mainProduct.listImages">
                                            <a href="#!/product/details/{{mainProduct.idProduct}}">
                                                <img ng-src="data:image/jpeg;base64,{{image}}" class="img-fluid">
                                            </a>
                                        </slide>
                                    </slides>
                                    <prev></prev>
                                    <next></next>
                                    <pagination></pagination>
                                </swiper>
                                <!--Card image-->

                                <!--Card content-->
                                <div class="card-body">

                                    <ng-rate-it class="d-inline text-center"
                                                ng-model="mainProduct.ratings"
                                                min="0"
                                                max="5"
                                                step="1"
                                                read-only="readOnlyRating"
                                                rated="ratingProduct(rating, mainProduct.idProduct)"
                                                resetable="false"></ng-rate-it>
                                    <span class="badge badge-success float-right" ng-hide="mainProduct.discount === 0">Sale</span>

                                    <h5 class="card-title mb-1">
                                        <strong>
                                            <a href="#!/product/details/{{mainProduct.idProduct}}" class="dark-grey-text">{{mainProduct.name}}</a>
                                        </strong>
                                    </h5>
                                    <a href="#!/product/details/{{mainProduct.idProduct}}" class="grey-text">
                                        <h5>{{mainProduct.category.name}}</h5>
                                    </a>

                                    <p><a href="#!/product/details/{{mainProduct.idProduct}}" style="text-decoration: underline">see more</a></p>

                                    <!--Card footer-->
                                    <div class="card-footer pb-0">
                                        <div class="row mb-0">
                                            <span class="float-left"><strong>${{mainProduct.price - mainProduct.price * (mainProduct.discount / 100) | number: 2}}</strong></span>
                                            <span ng-hide="mainProduct.discount === 0">(<s>${{mainProduct.price}}</s> - <span class="green-text">%{{mainProduct.discount}}</span>)</span>

                                            <span class="float-right">
                                                <a href="#!/product/details/{{mainProduct.idProduct}}" class="" data-original-title="Add to Cart">
                                                    <i class="fa fa-shopping-cart ml-3"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <!--Card content-->

                            </div>

                        </div>

                    </div>

                </div>

                <!--Grid row-->
                <div class="row justify-content-center mb-4">
                    <button class="btn btn-primary" ng-click="showMoreProduct()">Show more</button>
                </div>
                <!--Grid row-->
            </section>
            <!-- /.Products Grid -->

        </div>
        <!-- /.Content -->

    </div>
</div>