<head>
    <link rel="stylesheet" href="/admin/products/main-products.css">
</head>


<div class="container mt-1 pt-3">

    <!--Navbar-->
    <div class="row justify-content-center">
        <div class="col-5">

            <div class="input-group mb-4">
                <input type="search" class="form-control py-1 pl-2" placeholder="Search" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <button class="btn btn-primary input-group-text py-2 px-4 my-0 ml-0" id="basic-addon1"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

    </div>

    <div class="row">

        <!-- Sidebar -->
        <div class="col-lg-3 pr-0">

            <!-- Grid row -->
            <div class="row">
                <div class="col-md-6 col-lg-12 mb-3">
                    <p class="mb-2">
                        <a class="font-weight-bold dark-grey-text h5" ng-click="isOpen1=!isOpen1" data-toggle="collapse" data-target="#collapseOrderBy">
                            <strong>Order By: <i class="" ng-class="(isOpen1) ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i></strong>
                        </a>
                    </p>

                    <div class="collapse show" id="collapseOrderBy">
                        <p class="blue-text mt-2 mb-2"><a>Default</a></p>
                        <p class="dark-grey-text mt-2 mb-2"><a>Кating</a></p>
                        <p class="dark-grey-text mt-2 mb-2"><a>Price: low to high</a></p>
                        <p class="dark-grey-text mt-2 mb-2"><a>Price: high to low</a></p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-12 mb-3">
                    <h5 class="font-weight-bold dark-grey-text"><strong>Price:</strong></h5>

                    <rzslider rz-slider-model="slider.minValue"
                            rz-slider-high="slider.maxValue"
                            rz-slider-options="slider.options"></rzslider>
                </div>


                <div class="col-md-6 col-lg-12 mb-3" ng-repeat="(key, value) in filterProducts">

                    <p class="mb-2">
                        <a class="font-weight-bold dark-grey-text" ng-click="isOpen=!isOpen" data-toggle="collapse" data-target="#collapseProducer{{key}}">
                            <strong>{{key}} <i class="" ng-class="(isOpen) ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i></strong>
                        </a>
                    </p>

                    <div class="collapse show" id="collapseProducer{{key}}">
                        <!--Radio group-->
                        <div class="custom-control custom-checkbox mb-2" ng-repeat="(key, value) in value">
                            <div ng-repeat="(key, value) in value">
                                <input type="checkbox" id="customRadio{{key}}" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio{{key}}">{{key}} ({{value}})</label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /Grid row -->


        </div>
        <!-- /.Sidebar -->

        <!-- Content -->
        <div class="col-lg-9">

            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
            </div>

            <!-- Products Grid -->
            <section class="section pt-2">

                <!-- Grid row -->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4" ng-repeat="mainProduct in mainProducts" >

                        <!--Card-->
                        <div image-dimensions>
                        <div class="card card-cascade narrower card-ecommerce" >
                            <!--Card image-->
                            <div class="view overlay">
                                <img ng-src="data:image/jpeg;base64,{{mainProduct.listImages[0]}}" class="img-fluid" alt="sample photo">
                                <a href="#!/product/details/{{mainProduct.idProduct}}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->
                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="#!/product/details/{{mainProduct.idProduct}}" class="grey-text">
                                    <h5>{{mainProduct.category.name}}</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="#!/product/details/{{mainProduct.idProduct}}">{{mainProduct.name}}</a>
                                    </strong>
                                </h4>
                                <!--RatingProducts-->
                                <ng-rate-it class="d-inline"
                                            ng-model="mainProduct.ratings"
                                            min="0"
                                            max="5"
                                            step="1"
                                            read-only="readOnlyRating"
                                            rated="ratingProduct(rating, mainProduct.idProduct)"
                                            resetable="false"></ng-rate-it>

                                <!--Description-->

                                <br>
                                <a ng-href="#!/product/details/{{mainProduct.idProduct}}" style="text-decoration: underline">see more</a>
                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left font-weight-bold active">
                                        <strong>{{mainProduct.price}}$</strong>
                                    </span>
                                    <span class="float-right">
                                        <a href="#!/product/details/{{mainProduct.idProduct}}" class="active" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                            <i class="fa fa-shopping-cart ml-3"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <!--Card content-->
                        </div>
                        </div>
                        </div>
                    <!--Grid column-->
                </div>


                <!--Grid row-->
                <div class="row justify-content-center mb-4">
                    <button class="btn btn-primary" ng-click="showMoreProduct()">Show more</button>
                </div>
                <!--Grid row-->
            </section>
            <!-- /.Products Grid -->

        </div>
        <!-- /.Content -->

    </div>
</div>