<div class="container">

    <!-- Section: product details -->
    <section id="productDetails" class="pb-5">

        <!--News card-->
        <div class="card mt-5 hoverable">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="row mx-2">

                        <div class="col">
                            <div id="carousel-example" class="carousel slide carousel-fade" data-ride="carousel">

                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example" data-slide-to="{{key}}" ng-repeat="(key, value) in productDetails.listImages track by $index"></li>
                            </ol>

                            <div class="carousel-inner" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div style="text-align: center;">
                                        <img class="w-75" ng-src="data:image/jpeg;base64,{{ productDetails.listImages[0]}}">
                                    </div>
                                </div>

                                <div class="carousel-item" ng-repeat="im in productDetails.listImages track by $index" ng-if="$index > 0">
                                    <div style="text-align: center;">
                                        <img class="w-75" ng-src="data:image/jpeg;base64,{{im}}" alt="Second slide">
                                    </div>
                                </div>

                            </div>

                            <a class="carousel-control-prev" data-target="#carousel-example" role="button" data-slide="prev">
                                <span><i class="fas fa-angle-left fa-3x blue-text"></i></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" data-target="#carousel-example" role="button" data-slide="next">
                                <span><i class="fas fa-angle-right fa-3x blue-text"></i></span>
                                <span class="sr-only">Next</span>
                            </a>

                        </div>
                        </div>

                    </div>


                    <div class="row mb-4">


                    </div>

                </div>
                <div class="col-lg-5 mr-3 text-center text-md-left">
                    <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                        <strong>{{productDetails.name}} </strong>
                    </h2>
                    <span class="badge badge-success product mb-4 ml-2" ng-hide="productDetails.discount === 0">SALE</span>

                    <h3 class="h3-responsive text-center text-md-left mb-4 ml-xl-0 ml-4">
                        <span class="font-weight-bold">
                            <strong>${{productDetails.price - productDetails.price * (productDetails.discount / 100) | number: 2}}</strong>
                        </span>
                        <span class="grey-text" ng-hide="productDetails.discount === 0">
                            <small>
                                (<s>${{productDetails.price}}</s> - <span class="green-text">%{{productDetails.discount}}</span>)
                            </small>
                        </span>
                    </h3>

                    <div class="d-inline" ng-repeat="desc in productDetails.description | limitTo: 3">
                        <span>{{desc.nameCategoryDescription}}</span>
                        <div class="d-inline" ng-repeat="v in desc.descriptionList">
                            &middot {{v.nameDesc}} {{v.dataDesc}}
                        </div>
                    </div>
                    <span>more below</span>

                    <p class="ml-xl-0 ml-4 mt-4">
                        <strong>Rating: </strong> <ng-rate-it class="mr-3 d-inline" ng-model="productDetails.ratings" min="0" max="5" step="1" read-only="true" resetable="false"></ng-rate-it>
                    </p>
                    <p class="ml-xl-0 ml-4">
                        <strong>Category: </strong>{{productDetails.category.name}}
                    </p>
                    <p class="ml-xl-0 ml-4">
                        <strong>Producer: </strong>{{productDetails.producer}}
                    </p>

                    <p class="ml-xl-0 ml-4">
                        <span ng-if="productDetails.quantity != 0"><strong>Availability: </strong> In Stock</span>
                        <span ng-if="productDetails.quantity === 0"><strong>Availability: </strong> Sold out</span>
                    </p>

                    <!-- Add to Cart -->
                    <section class="color">
                        <div class="mt-5">
                            <div class="row mt-3 mb-4">
                                <div class="col-md-12 text-center text-md-left text-md-right">
                                    <button class="btn btn-primary btn-rounded waves-effect waves-light">
                                        <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i> Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- /.Add to Cart -->
                </div>
            </div>
        </div>
        <!--News card-->

    </section>
    <!-- Section: product details -->

    <h4 class="h4-responsive dark-grey-text font-weight-bold mb-3 text-center">
        <strong>Description</strong>
    </h4>

    <!--Table-->
    <div class="card mb-5">
        <div class="card-body">

            <div class="row">
                <div class="col-12 mx-1 mb-2" ng-repeat="desc in productDetails.description">

                    <div class="h4">{{desc.nameCategoryDescription}}</div>

                    <div class="ml-2 mb-2 col-12" ng-repeat="v in desc.descriptionList">
                        &middot {{v.nameDesc}} {{v.dataDesc}}
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--Table-->

</div>