<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resource/css/mdb.min.css" rel="stylesheet">
    <link href="../resource/css/style.css" rel="stylesheet">
    <link href="/product/product.css" rel="stylesheet">
</head>

<div class="container mt-5 pt-3">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark unique-color mt-3 mb-3">

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse">

            <!-- Search form -->
            <div class="input-group">
                <input class="form-control my-0 py-1 text-white" type="search" placeholder="Search" aria-label="Search" ng-model="search" >
                <button class="btn btn-primary btn-sm input-group-addon input-group-addon-admin" ng-click="searchProduct(search)"><i class="fa fa-search text-grey" aria-hidden="true"></i></button>
            </div>

        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->


    <div class="row pt-4">

        <!-- Sidebar -->
        <div class="col-lg-3">

            <div class="">
                <!-- Grid row -->
                <div class="row">

                    <!-- Filter by category-->
                    <div class="col-md-6 col-lg-12 mb-5">
                        <h5 class="font-bold dark-grey-text"><strong>Category</strong></h5>
                        <div class="divider"></div>

                        <!--Radio group-->
                        <div class="form-group ">
                            <input name="group100" type="radio" id="all" ng-click="allProductsRadioButton()" checked>
                            <label for="all" class="dark-grey-text">All</label>
                            <span class="badge badge-primary badge-pill" >{{countAllProducts}}</span>
                        </div>

                        <div class="form-group" ng-repeat="(key, value) in categoriesSide">
                            <input name="group100" type="radio" id="radio{{key}}" ng-click="productsByCategoryRadioButton(key)">
                            <label for="radio{{key}}" class="dark-grey-text">{{key}}</label>
                            <span class="badge badge-primary badge-pill">{{value}}</span>
                        </div>
                        <!--Radio group-->
                    </div>
                    <!-- /Filter by category-->

                    <div class="col-md-6 col-lg-12 mb-5">
                        <!-- Panel -->
                        <h5 class="font-bold dark-grey-text"><strong>Producer</strong></h5>
                        <div class="divider"></div>
                        <div ng-repeat="(key, value) in producerSide" class="mt-2">
                            <p class="dark-grey-text">
                                <a ng-click="productsListSideProducer(key)">
                                    {{key}}
                                </a>
                                <span class="ml-3 badge badge-primary badge-pill">{{value}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /Grid row -->

                <!-- Grid row -->
                <div class="row">

                    <div class="col-md-6 col-lg-12 mb-5">
                        <!-- Panel -->
                        <h5 class="font-bold dark-grey-text"><strong>Products</strong></h5>
                        <div class="divider"></div>

                        <div ng-repeat="(key, value) in productsSide" class="mt-2">
                            <p class="dark-grey-text">
                                <a ng-click="producerListSideProducts(key)">
                                    {{key}}
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
                <!-- /Grid row -->
            </div>

        </div>
        <!-- /.Sidebar -->

        <!-- Content -->
        <div class="col-lg-9">

            <!-- Products Grid -->
            <section class="section">

                <!-- Grid row -->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 col-lg-4" ng-repeat="product in products">

                        <!--Card-->
                        <div class="card scale-fade">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <div image-dimensions>
                                    <img ng-src="data:image/jpeg;base64,{{product.listImages[0]}}" class="img-fluid" alt="">
                                    <a href="#!/product/details/{{product.idProduct}}">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-left no-padding">
                                <!--Category & Title-->

                                <h5 class="card-title mb-1 tree-dot">
                                    <strong>
                                        <a href="#!/product/details/{{product.idProduct}}" class="dark-grey-text">{{product.name}}</a>
                                    </strong>
                                </h5>

                                <p class="card-text">
                                    {{product.description[0].dataDesc | limitTo: 60}}
                                    <a ng-href="#!/product/details/{{product.idProduct}}" style="text-decoration: underline;">more</a>
                                </p>

                                <!--Card footer-->
                                <div class="card-footer pb-0">
                                    <span class="left">{{product.price}}$</span>
                                    <span class="right">
                                        <a ng-click="addToCart(product)" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                    </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

            </section>
            <!-- /.Products Grid -->
        </div>
        <!-- /.Content -->

    </div>
</div>