<head>
    <link rel="stylesheet" href="/auth/login/login.css">
</head>


<div class="container-fluid mt-5 pt-3">

    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="form-simple">

                <div class="wrapper">
                    <form class="form-signin" ng-submit="logIn()">

                        <h2 class="form-signin-heading">Please login</h2>

                        <input type="text" class="form-control" ng-model="email" name="email" placeholder="Email Address" required="" autofocus="" />

                        <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" required=""/>

                        <label class="checkbox">
                            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                        </label>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    </form>
                </div>

            </section>
        </div>

        <div class="col-md-4"></div>
    </div>
</div>