<head>

</head>

<form>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="username">User name</label>
            <input type="text" class="form-control" ng-model="username" id="username">
        </div>
        <div class="form-group col-md-6">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" ng-model="surname" id="surname">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" ng-model="email" id="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" ng-model="password" id="password" placeholder="Password">
        </div>
    </div>

</form>