<head>
    <link rel="stylesheet" href="/admin/discount/discount-product.css">
</head>


<div class="container-fluid">

    <div class="row">
        <div class="col-2">

            <div class="mt-2">
                <p class="text-center h4">Discount</p>
                <input class="form-control mt-2 mb-3" type="text" ng-model="search" placeholder="Search">

                <select title="Categories" class="custom-select mb-2" ng-model="category" >
                    <option selected value>Categories</option>
                    <option ng-click="resetFilter()">All</option>
                    <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
                </select>

                <angular-ranger min="{{min}}" max="{{max.price}}" step="1" min-value="value.min" max-value="value.max"></angular-ranger>

            </div>

        </div>

        <div class="col-2" ng-repeat="product in products | filter:search | filter:category | filter:startPrice | filter:endPrice">
            <div class="mt-3">

                <div class="card" >
                    <img class="img-fluid" ng-src="data:image/jpeg;base64,{{product.listImages[0]}}" alt="Card image cap">

                    <div class="card-body">
                        <h4 class="card-title">{{product.name}} (-{{product.discount}}%)</h4>
                        <p class="card-text">{{product.category.name}}</p>
                        <p class="card-text">${{product.price}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>